# Episource Internship Task

In [1]:
# Importing pandas library
import pandas as pd

In [2]:
# Reading loan_data.json to pandas dataframe as f2
f2 = pd.read_json('loan_data.json')

In [3]:
# Visualizing data
print(f2)

    Application_ID  Gender Married Dependents     Education Self_Employed  \
0         LP001002    Male      No          0      Graduate            No
1         LP001003    Male     Yes          1      Graduate            No
2         LP001005    Male     Yes          0      Graduate           Yes
3         LP001006    Male     Yes          0  Not Graduate            No
4         LP001008    Male      No          0      Graduate            No
..             ...     ...     ...        ...           ...           ...
506       LP002978  Female      No          0      Graduate            No
507       LP002979    Male     Yes         3+      Graduate            No
508       LP002983    Male     Yes          1      Graduate            No
509       LP002984    Male     Yes          2      Graduate            No
510       LP002990  Female      No          0      Graduate           Yes

     Credit_History Property_Area  Income Application_Status
0                 1         Urban  medium                  Y
1                 1         Rural  medium                  N
2                 1         Urban     low                  Y
3                 1         Urban     low                  Y
4                 1         Urban  medium                  Y
..              ...           ...     ...                ...
506               1         Rural     low                  Y
507               1         Rural  medium                  Y
508               1         Urban  medium                  Y
509               1         Urban  medium                  Y
510               0     Semiurban  medium                  N

[511 rows x 10 columns]

### 1. Find % of total applicants for each unique value of dependents

In [4]:
f2["Dependents"].value_counts(normalize=True) * 100

0     57.534247
2     17.221135
1     16.634051
3+     8.610568
Name: Dependents, dtype: float64

### 2. Find the average number of dependents per applicant

In [5]:
len(f2["Dependents"].unique())

4

### 3. Find the %of applications approved for self-employed applicants

In [6]:
## Getting only who are self_employed from the data
self = f2[f2["Self_Employed"] == "Yes"]

In [7]:
print("%of applications approved for self-employed applicants",
      self["Self_Employed"].count()/f2["Self_Employed"].count() * 100)

%of applications approved for self-employed applicants 13.698630136986301

### 4. What is the % of rejections for married male applicants

In [8]:
## Getting only who are Married people 
married = f2[f2["Married"] == "Yes"]

In [9]:
## Getting those who are married but rejected 
married_rejected = married[married["Application_Status"] == "N"]

In [10]:
## Finding % of rejections for married male applicants
print("% of rejections for married male applicants"
    ,married_rejected["Application_Status"].count() / f2["Married"].count() * 100)

% of rejections for married male applicants 18.590998043052835

### 5. Which property area has the maximum approval ratio

In [11]:
# Getting only Rural area data
f2_rural = f2[f2["Property_Area"]=="Rural"]
# Getting only approved application in rural area 
f2_ru= f2_rural[f2_rural["Application_Status"] == 'Y']

# Getting only Urban area data
f2_urban = f2[f2["Property_Area"]=="Urban"]
# Getting only approved application in urban area 
f2_ur = f2_urban[f2_urban["Application_Status"] == 'Y']

# Getting only semirural area data 
f2_semi = f2[f2["Property_Area"]=="Semiurban"]
# Getting only approved application in semirural area 
f2_se = f2_semi[f2_semi["Application_Status"] == 'Y']

## Getting maximum value among rural,urban and semirural
max_pro = max(f2_ru.count()[1]/f2_rural.count()[1],
             f2_ur.count()[1]/f2_urban.count()[1],
             f2_se.count()[1]/f2_se.count()[1])

## comparing maximum value with rural, urban and semiurban fields for knowing maximum acceptance among them 
if max_pro == f2_ru.count()[1]/f2_rural.count()[1]:
    print("Rural area has the maximum approval ratio ")
elif max_pro == f2_ur.count()[1]/f2_urban.count()[1]:
    print("Urban area has the maximum approval ratio ")
else:
    print("Semiurban area has the maximum approval ratio ")

Semiurban area has the maximum approval ratio

### 6. Find average dependents per income group

In [12]:
## Getting 0,1,2,3+ values individually from the data
f_0 = f2[f2["Dependents"] == "0"]
f_1 = f2[f2["Dependents"] == "1"]
f_2 = f2[f2["Dependents"] == "2"]
f_3 = f2[f2["Dependents"] == "3+"]

In [13]:
## printing only medium income dependents 
print("People with 0 Dependents and medium income",f_0[f_0["Income"] == "medium"].count()[1])
print("People with 1 Dependents and medium income",f_1[f_1["Income"] == "medium"].count()[1])
print("People with 2 Dependents and medium income",f_2[f_2["Income"] == "medium"].count()[1])
print("People with 3+ Dependents and medium income",f_3[f_3["Income"] == "medium"].count()[1])

People with 0 Dependents and medium income 100
People with 1 Dependents and medium income 30
People with 2 Dependents and medium income 41
People with 3+ Dependents and medium income 22

In [14]:
## printing only high income dependents
print("People with 0 Dependents and high income",f_0[f_0["Income"] == "high"].count()[1])
print("People with 1 Dependents and high income",f_1[f_1["Income"] == "high"].count()[1])
print("People with 2 Dependents and high income",f_2[f_2["Income"] == "high"].count()[1])
print("People with 3+ Dependents and high income",f_3[f_3["Income"] == "high"].count()[1])

People with 0 Dependents and high income 21
People with 1 Dependents and high income 13
People with 2 Dependents and high income 6
People with 3+ Dependents and high income 5

In [15]:
## printing only low income dependents
print("People with 0 Dependents and low income",f_0[f_0["Income"] == "low"].count()[1])
print("People with 1 Dependents and low income",f_1[f_1["Income"] == "low"].count()[1])
print("People with 2 Dependents and low income",f_2[f_2["Income"] == "low"].count()[1])
print("People with 3+ Dependents and low income",f_3[f_3["Income"] == "low"].count()[1])

People with 0 Dependents and low income 173
People with 1 Dependents and low income 42
People with 2 Dependents and low income 41
People with 3+ Dependents and low income 17

###   7. Create a simple predictive model to assess whether a loan application will be approved or rejected and provide the accuracy score

In [16]:
## Reading data
f = pd.read_json('loan_data.json')

In [17]:
## Dropping unnecessary columns
f = f.drop(["Application_ID","Dependents","Property_Area","Income"], axis = 1)

In [18]:
## Changing to float format for trainig
f['Gender'] = f['Gender'].apply(lambda x: 1 if x == 'Male' else 0)
f['Married'] = f['Married'].apply(lambda x: 1 if x == 'Yes' else 0)
f['Education'] = f['Education'].apply(lambda x: 1 if x == 'Graduate' else 0)
f['Self_Employed'] = f['Self_Employed'].apply(lambda x: 1 if x == 'Yes' else 0)
f['Application_Status'] = f['Application_Status'].apply(lambda x: 1 if x == 'Y' else 0)

In [19]:
## Assigning Application_Status column to new label and dropping the Application_Status
f_label = f["Application_Status"]
f = f.drop(["Application_Status"], axis = 1)

In [20]:
## Now let's see the data 
f

     Gender  Married  Education  Self_Employed  Credit_History
0         1        0          1              0               1
1         1        1          1              0               1
2         1        1          1              1               1
3         1        1          0              0               1
4         1        0          1              0               1
..      ...      ...        ...            ...             ...
506       0        0          1              0               1
507       1        1          1              0               1
508       1        1          1              0               1
509       1        1          1              0               1
510       0        0          1              1               0

[511 rows x 5 columns]

In [21]:
## Now let's see the label data
f_label

0      1
1      0
2      1
3      1
4      1
      ..
506    1
507    1
508    1
509    1
510    0
Name: Application_Status, Length: 511, dtype: int64

In [22]:
## Importing numpy library for changing matrix to ndarray
import numpy as np

In [23]:

## importing train_test_split library for splitting our data for training and testing
from sklearn.model_selection import train_test_split
## splitting our data for training and testing
train, test = train_test_split(f, test_size = 0.4)
train = train.reset_index(drop=True)
test = test.reset_index(drop=True)

## Assinging f_label to label_train and label_test for calculating accuracy
label_train, label_test = train_test_split(f_label, test_size = 0.4)

In [24]:

## Importing RandomForestClassifier for classifing them to acceoted or rejected
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
## Training
clf.fit(train,label_train)

pred_train = clf.predict(train)
pred_test = clf.predict(test)

# importing accuracy_score for calculating accuracy
from sklearn.metrics import accuracy_score
accuracy_train = accuracy_score(pred_train,label_train)
accuracy_test = accuracy_score(pred_test,label_test)

In [25]:
print("Train accuracy:",accuracy_train,
     "\n Test accuracy:", accuracy_test)

Train accuracy: 0.7124183006535948
 Test accuracy: 0.6390243902439025